body {
	font-size: 15px;
	font-family: Georgia, serif;
	color: #334;
}

.progSkills {
	color: red;
	display: block;
	float: left;
}


.miscSkills {
	color: blue;
	display: block;
	float: right;
	margin-left: 20em;
	margin-top: 1em;	
}

.coursework {
	color:orange;
	float: left;
}
.orgs {
	color: green;
	display: block;
	float: right;
}